package ${package.Controller};

import com.alibaba.fastjson.JSON;
import com.baomidou.mybatisplus.mapper.EntityWrapper;
import com.xlily6x.core.base.Parameter;
import com.xlily6x.provider.IProvider;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.ResponseBody;
import com.xlily6x.domain.${entity};

#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * ${table.comment} 前端控制器
 * </p>
 *
 * @author xiaowenlong
 * @since ${date}
 * @site http://www.xlily6x.com
 * @email xiaowenlong2015@icloud.com
 */
@Controller
@Api(value = "${entity}管理", description = "${entity}管理")
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/${table.entityPath}")
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass}<${cfg.providerClass}> {
#else
public class ${table.controllerName} {
#end

    private Logger logger = LogManager.getLogger();

    @Autowired
    private IProvider provider;

    @ResponseBody
    @RequestMapping(value = "/queryList",method = RequestMethod.POST)
    @ApiOperation(value = "查询${table.comment}")
    public String query(@RequestBody ${entity} param){
        logger.info("${entity} /queryList");
        Parameter parameter = new Parameter("${entity}Service","selectList");
        EntityWrapper<${entity}> wrapper = new EntityWrapper<${entity}>();
        wrapper.setEntity(param);
        parameter.setParam(new Object[]{wrapper});
        Object o = provider.execute(parameter);
        logger.info(JSON.toJSONString(o));
        return JSON.toJSONString(o);
    }

    @ResponseBody
    @RequestMapping(value = "/insert",method = RequestMethod.POST)
    @ApiOperation(value = "增加${table.comment}")
    public String insert(@RequestBody ${entity} param){
        Parameter parameter = new Parameter("${entity}Service","insert");
        parameter.setParam(new Object[]{param});
        Object o = provider.execute(parameter);
        logger.info(JSON.toJSONString(o));
        return JSON.toJSONString(o);
    }

    @ResponseBody
    @RequestMapping(value = "/getOne",method = RequestMethod.POST)
    @ApiOperation(value = "根据主键获取单条 ${entity} 数据")
    public String getOne(@RequestBody String id){
        Parameter parameter = new Parameter("${entity}Service","selectById");
        parameter.setId(id);
        Object o = provider.execute(parameter);
        logger.info(JSON.toJSONString(o));
        return JSON.toJSONString(o);
    }
	
}
